.chat_bot {
    flex-direction: column;
    margin-left: 10vw;
    border: 1px solid grey;
    width: 80vw;
    height: 50vh;
    overflow: scroll;
}

.chat_bot_content-msg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.chat_bot-msg{
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

.form {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    width: 80vw;
    margin-left: 10vw;
}

.msg {
    width: 75vw;
}

.btn {
    color: white;
    background-color: #008CBA;
    width: 5vw;
    border-color: #008CBA;
}

a {
    text-decoration: none;
    color: #008CBA;
}